.register {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  min-height: 100vh;
}

@media screen and (max-width: 480px) {
  .register {
    align-items: flex-start;
  }
}

.register__button {
  margin-top: 128px;
}

@media screen and (max-width: 480px) {
  .register__button {
    margin-top: 216px;
  }
}
